*{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body{
  background-color:#E5E5E5;
}

.reports{
  width: 850px;
  display: flex;
  grid-template: 90px;
}

.widject{
  width: 90px;
  line-height: 40px;
}